<!DOCTYPE html>
<html>
<head>
  <title>BlogRubyOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle Navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">Blog RubyOnRails 4</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><%= link_to "Inicio", root_path %></li>
                  <li><a href="/articles/" title="">Articulos</a></li>
                  <li><a href="" title="Dise침o">Dise침o</a></li>
                  <li><a href="" title="Programacion">Programaci칩n</a></li>
                  <li><a href="" title="Tecnologia">Tecnolog칩a</a></li>
              </ul>
          </div>
      </div>
  </nav>

<%= yield %>

</body>
</html>
